*{
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
}
ul{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.45);
    position: fixed;
    top:0;
    z-index: 3;
}

.header nav{
    overflow: hidden;
}
.header nav h1{
    margin: 10px 0px 0px 50px;
    float: left;
    text-shadow: 1px 1px rgb(20, 20, 20);
}
.header nav h1 a{
    text-decoration: none; 
    font-size:30px; 
    /* color: #fff; */
    color:rgb(0, 0, 0);
    letter-spacing: 2px;
   
}
.header nav ul{
    margin: 0;
    margin-top:10px; 
    padding: 0;
    float: right;

}
.header nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
    transition: .3s linear;
    cursor: pointer;
    border-radius: 4px;
}
.header nav ul li a{
    text-decoration: none;
    padding: 10px 10px;
    letter-spacing: 2px;
    color:rgb(100, 99, 99);
    font-weight:600;
}

.header nav ul li:hover{
    /* background: rgb(132, 141, 148); */
    border-bottom:4px solid #3d0280;
}
.header nav .current{
   border-bottom: 4px solid #3d0280;
}
.header .logo{
    margin-top:7px; 
    margin-left:20px;
    float: left;
    width:50px;
    height:50px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}
.active{
    background:#fff;
}


/* .active
{
    background-color: rgba(214, 23, 23, 0.8);
} */
.none{
    position: absolute;
    top:0;
    min-height: 700px;
    min-width: 100%;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('images/m3.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%; 

}
.container{
    position: relative;
    /* margin-top:70px;  */
    /* margin-left:35px;  */
    /* float: left; */
    padding:0;
    text-align:center;
    z-index: 1;
    
}
.about_content{
    padding-top:90px; 
}
.text-js{
    opacity: 0;
  }
  .cursor{
    display: block;
    position: absolute;
    height: 50%;
    top: 50%;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
  @keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  
.headline{
    font-size: 32px;
    text-align: center;
}
.headline h1{
margin-top:80px;
color:rgb(255, 255, 255);
text-shadow: 1px 1px rgb(20, 20, 20);
letter-spacing: 1.6px;
font-weight: 300;

}
 .container p{
    margin-top:20px;
    color:#fff;
    word-spacing: 2px;
    font-size: 24px;
    text-shadow: 1px 1px rgb(20, 20, 20);
    line-height: 25px;
 }
 .container h2{
    margin-top:30px;
    letter-spacing: 2px;
    font-size: 34px;
    font-weight:bold; 
    color:#fff;
    text-shadow: 1px 1px rgb(20, 20, 20);
}

.login-sign-buttons{
    margin:100px 10px;
    padding:30px 10px;
}
.login-sign-buttons input{
    margin:10px 20px;
    padding:10px 20px;
    width:200px;
    font-size:18px;
    border:1px solid silver;
    border-radius:4px;
    background-color:rgb(151, 151, 155); 
    /* color:#fff; */
    color:#000;
    cursor:pointer;
    transition: all .4s ease-in;
}
.login-sign-buttons input:hover{
    background-color:rgb(12, 21, 145);
    /* color: rgb(17, 23, 107); */
    color:#fff;
    border:1px solid rgb(17, 23, 107);
}

/* sign in page css  */
.form{
  min-width:440px;
  min-height: 450px; 
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  box-shadow: -2px -2px 10px rgba(0,0,0,1), 2px 2px 10px rgba(0,0,0,1);
}
#close_form{
    float:right;
    width:30px;
    height:30px;
    border:none;
    background: transparent;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.login-sign-buttons{
    text-align:center;
}


.sign_in{
    text-align: center;
}
.sign_in h3{
font-size:20px;
margin-top:20px;
color:rgb(10, 10, 10);
letter-spacing: 2px;
}
.sign_in .inputArea input{
color:rgb(0, 0, 0);
 margin-top:30px;
 width:300px;
 height:30px;
 background: transparent;
 outline:none;
 border:none;
 border-bottom: 2px solid rgb(28, 27, 29);
 /* letter-spacing: 2px; */
}
.sign_in .inputArea input::placeholder{
    color:rgb(10, 10, 10);
    letter-spacing: 2px;
}
.sign_in .submit_btn{
    margin-top:30px;
}
.sign_in .button_input{
    width:300px;
    height:30px;
    color:#000;
    background-color:rgb(151, 151, 155); 
    border:none;
    font-size:20px;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s ease-in;
}
.sign_in .button_input:hover{
    background-color:rgb(12, 21, 145);
    color:#fff;
    border:1px solid rgb(17, 23, 107);
}
.form p
{
    color:red;
}
.sign_in .tosignin{
    margin-top:40px;
    letter-spacing: 2px;
    color:rgb(10, 25, 163);
    float:right;  
}
.sign_in a .tosignup{
    width:250px;
    height:30px;
    margin-left:20px;
    margin-top:100px;
    letter-spacing: 2px;
    float:left;
    border:none;
    color:#000;
    cursor: pointer;
    border-radius: 4px;
    transition: all .4s ease-in;
}

/* sign up page css */
.bo{
    background: rgba(82, 80, 80, 0.356);
   
}
.sign_up_page{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-52%);
    text-align: center;
    overflow: hidden;
    width:400px;
    min-height: 420px;
    border-radius: 6px;
    padding: 1px;
  
    margin-top: 20px; 
    background: #FFF;  
    box-shadow: 4px 4px 24px rgba(143, 141, 141,0.6);
}

.sign_up_page .h3{
font-size:20px;
margin-top: 20px;
color:black;
letter-spacing: 2px;
}

.sign_up_page .inputArea input{
    margin-top:25px;
    width:300px;
    height:30px;
    border:none;
    border-bottom:2px solid  #12125c;
    outline:none;
    background: transparent;

}
.sign_up_page .inputArea input:active{
    outline:1px solid black;
}

.sign_up_page .submit_btn input{
    margin-top:40px;
    width:300px;
    height:30px;
    border-radius: 4px;
    border:none;
    color:#000;
    outline-color: rgb(29, 28, 32);
    font-size:16px;
    cursor: pointer;
}
.sign_up_page .submit_btn input:hover{
    background: #5c5a5a;
    color:#fff;
}
.sign_up_page .back_btn button{
    float: left;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:5px;
    padding:10px 20px;
    background:transparent;
    border:none;
    color:#000;
    border-radius: 4px;
    font-size: 18px;
}
.sign_up_page .back_btn button:hover{
    box-shadow:1px 1px 10px rgba(0, 0, 0,0.2); 
}

.back_btn i{
    font-size:14px;
}
.sign-up p {
    color:red;
}
/* information section */
.information{
    position: relative;
    margin-top:30px;
    margin-bottom:30px;
    padding-top:720px;
    margin-left:5%;
    margin-right:5%;
}
.main_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
} 
.info_head{
    position: relative;
    margin:30px auto;
    text-align: center;
    overflow:auto;
}
.info_head h1{
    color:blue; 
    text-shadow: 1px 1px rgb(20, 20, 20);
}
.box{
    position: relative;
    width:350px;
    height:600px;
    margin:40px 20px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;

}
.box:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.box .img_part img{
    width:350px;
    height:300px; 
    background-size:contain;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    
}

.box .card_data{
    padding:10px 10px; 
    margin-bottom:30px;   
    box-sizing: border-box;
}
.box .card_data h3{
    padding:5px 5px;
}
.box .card_data p{
    padding:5px 5px;
    font-size: 20px;
    text-align:left;
    text-justify: inter-word;
}
.box .card_data a{
    text-decoration: none;
    cursor: pointer;
}
.box .card_data a:hover{
     color:orangered;
}
.box .card_data a:visited{
     color:rgba(0,0,255,0.4);
}
.box .card_data ul{
    margin:0;
    padding:0;
    list-style: none;
}
.box .card_data ul li{
    font-size:18px;
    text-align:left;
}

 /* about section */
.about{
    position: relative;
    width:100%;
    min-height: 300px;
    margin: 0;
    margin-top:100px;
    overflow: auto;
    background: #c2bdbc;
    text-align: center;
}
.about h3{
    margin-top:30px;
    font-style: Arial, Helvetica,sans-serif; 
    letter-spacing: 2px;
    font-size: 20px;
    padding:20px 20px;
    text-transform: uppercase;
}
.about p{
    margin-top:20px;
    padding:20px 20px;
    font-style: Arial, Helvetica,sans-serif; 
    font-size: 20px;
    color:rgb(36, 36, 36);

}

.footer{
    text-align: center;
    min-height: 200px;
    margin: 0;
    overflow: auto;
}
.footer h4{
    margin-top:28px;
    font-size:20px;
}
.footer_cont_img{
margin-top:30px;
}
.footer_cont_img img{
    border-radius: 4px;
    padding: 2px 2px 2px 2px ;
    margin-top: 25px;
    margin-left:30px; 
    margin-right:30px; 
    width:50px;
    height:50px;
}
.contact{
    height:100px;
    margin:30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul{
   margin:0;
   padding:0;
   display: flex;
}
.contact ul li{
    list-style: none;
    margin:0 5px;
}
.contact ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height:70px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 40px;
    color:#000;
    transition: 0.5s;
    cursor: pointer;
}
.contact ul li a:hover{
    color:#fff;
}
.contact ul li a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:black;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s cubic-bezier(.95,.32,.37,1.31);
}
.contact ul li a:hover:before{
    transform: scale(1);
    color:#fff;
}

.contact ul li:nth-child(1) a:hover::before
{
    background: #2b4f9c;
}
.contact ul li:nth-child(2) a:hover::before
{
    background: #089432;
}
.contact ul li:nth-child(3) a:hover::before
{
    
    background: #e4405f;
}
.contact ul li:nth-child(4) a:hover:before
{
    background: #dd4b39;
}

.hide_sign_up{
    position: absolute;
    top:65px;
    left:37%;
}

#hide_sign_up{
    display: none;
}
@media screen and (max-width: 1100px) {
    .header nav ul{
        display: none;
    }
    .form{
        min-width:300px;
        max-width: 460px;
        left:30px;
    
    }
    .form .sign_in{
        margin-top:30px;
    }
    .information{
        margin:0;
    }
    #sign_up_in{
       display: block; 
    }
    .card_data{
        padding: 0;
    }
    .card_data h2{
        margin-top:70px;
    }
    .what_user_says input{
        border:none;
        background: #3d0280;
        color:#FFF;
    }
    .footer{
        text-align: center;
        display: block;
    }
    .footer_cont_img img{
        margin:10px 13px;
        width:35px;
        height:35px;
    }
    
}
.hide_sign_up 
{
    display: inline;
}
.hide_sign_up input{
    width:100px;
    height:40px;
    padding:10px 10px;
    background: #3d0280;
    color:#fff;
    border:none;
    letter-spacing: 2px;
    border-radius: 4px;
}

/*Firstpage.php css ends here and compare.php code strts::::::*/

.container-compare{
    margin: 0 ;
    padding: 0;
}
.container-compare{
    /* box-sizing: border-box; */
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100%;
}
.setting_show{
    position: absolute;
    right:10px;
    display: block;
}
.setting_show input{
    color:#fff;
}
.sidenav .all_comment{
    display: block;
}

 .searchbar{
  position: absolute;
  left:27%;
  width:50%;
  white-space: normal;
  text-align: center;
  overflow: hidden;
}

 .searchbar input[type="text"]{
    width: 80%;
    height:35px;
    letter-spacing: 1px;
    padding:0px 15px;
    font-size: 18px;
    border: 2px solid silver;
    border-radius: 1.5em;
    outline:none;
}
.searchbar i{
    position: absolute;
    top:10px;
    right:70px;
    color:silver;
}
.searchbar input[type="text"]:focus{
    border: 2px solid #3d0280;
    
}
.searchbar input[type="text"]:focus ~ i{
    color:#3d0280
}

.searchbar #add{
    position: relative;
    margin:10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    width:70%;
    height:35px;
    background: transparent;
    border:2px solid #3d0280;
    color:rgb(10, 10, 10);
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 1.5em;
    outline: none;
    cursor: pointer;
    transition:.6s ease-in-out; 
}
.searchbar #add:hover{
    color:#fff;
    background: #3d0280;
}
 /* .s_btn{
    margin: 0;
    padding: 0;
    width:80px;
    background: #3d0280;
    color:#fff;
    letter-spacing: 2px;
    border: none;
} */
.all_data{
    position: relative;
    margin-left:10px;
    margin-right:10px;
    margin-top:40px;
    margin-bottom:20px; 
    padding: 50px 10px; 
    box-sizing: border-box; 
    /* border: 1px solid silver; */
    overflow: hidden;
}

.data{
    position: relative;
    margin-top:20px; 
    margin-left:4%;
    margin-bottom:20px; 
    width:260px;
    height:300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
}

.all_data .data:nth-child(n):hover #fav-heart{
    opacity: 1.0;
}

.all_data .data:nth-child(n):hover{
    transition: .3s ease-in-out;
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);
}
.more_about_device{
    position: absolute;
    top:50%;
    right:-190%;
    transform: translate(-50%,-50%);
    width:300px;
    height:0px;
    padding:10px 20px;
    background-color: rgb(252, 252, 252);
    border:1px solid silver;
    border-radius:4px;
    z-index: 30;
    opacity: 0;
    /* display: none; */
    visibility: hidden;
    transition: all 300ms;
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);
}
.more_about_device::after{
    content: '';
    position: absolute;
    top:40%;
    transform: translate(-50%,-50%);
    border:1px solid rgb(97, 97, 97);
    height:18px ;
    width:18px;
    transform: rotate(45deg);
    margin-left:-30px;
    background-color:rgb(250, 250, 250);
    border-top:0px;
    border-right:0px;
}
.all_data .data:nth-child(n):hover .more_about_device {
    height:400px;
    display: block;
    visibility:visible;
    opacity: 1;
    transition-delay: 300ms;
}
.all_data .data:nth-child(4n):hover .more_about_device {
    position: absolute;
    left:-64%;
    display: block;
    visibility:visible;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms;
}
.all_data .data:nth-child(4n):hover .more_about_device::after {
    right:-10.5px;
    margin-left:50px;
    transform: rotate(-45deg);
    background-color:rgb(250, 250, 250);
    border-left:0;
    border-bottom:1px solid rgb(97, 97, 97);;
    border-top:0;
    border-right:1px solid rgb(97, 97, 97);;
}

.btn{
    text-align: center;
    background:#b6b1b1;
}
.btn .label{
    width:100%;
    background-size:100% 100%; 
    color:rgb(0, 0, 0);
    font-size:30px;
    border-radius: 4px;
}
.show_rate{
    padding-top:70px;
    padding-bottom:30px;
    text-align:center;
}
.comment_btn{
    text-align: center;
}
.comment_btn input[type="button"]{
    margin-top:20px;
    margin-bottom:5px; 
    position: relative;
    background-color: #949394;
    margin-left:5px; 
    width:200px;
    height:40px;
    border-style: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    /* letter-spacing: 1px; */
    border-radius:4px;
}

.all_data .next_btn{
    margin: 0 auto;
    left: 0;

}
.next_btn #next{
    background:url(images/next.png) 50% 50%; 
    align-items: center;    
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    border-radius: 50px;
    border:none;
    outline:none;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow:2px 4px 5px rgb(105, 105, 105),-2px 0px 5px rgb(105, 105, 105);
}
.next_btn #next:focus{

    box-shadow:4px 4px 20px rgb(105, 105, 105),-4px 0px 20px rgb(105, 105, 105);
}
.modal{
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height:100%;
    background-size: cover;
    z-index: 20;
    opacity: 0;
    transition: all .5s ease;
    overflow: hidden;
}

@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes popin{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.modal .modal_content{
    min-width:66%;
    min-height:450px;
    position:absolute;
    background-color:whitesmoke;
    top:50%;
    left:50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    transition: all .5s ease; 
    border-radius: 4px;
    /* overflow-y: scroll; */
}
.modal .modal_content #device,#rate_count{
    background-color: whitesmoke;
}
.modal_content #cut{
    position: absolute;
    top:10px;
    right:10px;
    outline: none;
    border:none;
    width: 30px;
    height:30px;
    cursor: pointer;
    background:transparent;
    color:#6b6b6b;
    font-size:20px;
    font-weight: bold;
    clear: both;
    transition: all .5s;
    border-radius: 50%;
}
.modal_content #cut:hover{
    color:#000000;
    transform: scale(1.2);
}

.modal_content h1{
    margin-top:10px;
    width:100%;
    text-align: center;
    letter-spacing: 2px;
    color:rgb(36, 13, 99);
    border-bottom:2px solid #3d0280;
}
.modal_content .rate{
    text-align: center;
}
.modal_content .rate input[type="text"]{
    width:200px;
    height:30px;
    margin:15px 20px; 
    border: 1px solid silver;
    border-radius: 4px;
    font-size: 16px;
    outline: none;

}

.modal_content .rate textarea[id="comment"]{
    width:60%;
    height:100px;
    border: 1px solid silver;
    /* margin-top:30px; */
    margin:30px 40px;
    padding-left:10px;
    border-radius: 4px;
    resize: none;
    font-size: 20px;
    outline: none;
}

.modal_content .rate input[type="submit"]{
    margin-top:30px;
    margin-bottom:20px;
    position: relative;
    background-color: #3d0280;
    color:#fff;
    width:50%;
    height:40px;
    border:none;
    border-radius: 4px;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
}

#imgFile{
    width:200px;
    height:30px;
    background-color:#ffffff;
    border:1px solid silver;
    font-size:18px;
}

html { font-size:100%; } 

@media (min-width:960px) { body {font-size:1rem;} } 
@media (min-width:1100px) { body {font-size:1rem;} } 
@media screen and (max-width: 1100px) {
    .welcome{
        display: none;
    }    
    .head{
        position: absolute;
        left:60px;
        text-align: center;
    } 
    .searchbar .search{
            margin-top:60px;
            width:82%;
        }
        .searchbar i{
            top:99px;
            left:75%;
        }
        .head{
            position: absolute;
            top:30px;
        }
        .data{
            width:300px;
            height: 330px;
        }
        .modal .modal_content{
            width:100%;
            height:400px;
        }


}

.side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 { width:0;height: 18px; background-color: #4CAF50;}
  .bar-4 { width:0;height: 18px; background-color: #2196F3;}
  .bar-3 { width:0;height: 18px; background-color: #00bcd4;}
  .bar-2 { width:0;height: 18px; background-color: #ff9800;}
  .bar-1 { width:0;height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }