*{
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
}
ul{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    z-index: 20;
}
.header nav{
    overflow: hidden;
}
.header nav h1{
    margin: 10px 0px 0px 50px;
    float: left;
}
.header nav h1 a{
    text-decoration: none; font-size:30px; 
    color: #fff;
    letter-spacing: 2px;
}
.header nav ul{
    margin: 0;
    margin-top:10px; 
    padding: 0;
    float: right;

}
.header nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    transition: .5s;
    cursor: pointer;
}
.header nav ul li a{
    text-decoration: none;
    padding: 20px 30px;
    letter-spacing: 2px;
    color:#FDFFFC;

}

.header nav ul li:hover{
    background: rgb(132, 141, 148);
}

.header nav .current{
    background: rgb(132, 141, 148);
}
.header .logo{
    margin-top:7px; 
    margin-left:20px;
    float: left;
    width:50px;
    height:50px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}
/* .active
{
    background-color: rgba(214, 23, 23, 0.8);
} */
.none{
    min-height: 700px;
    min-width: 100%;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('images/m3.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%; 

}
.container{
    position: relative;;
    margin-top:70px; 
    margin-left:35px; 
    float: left;
    
}
 .container h1{
     margin-top:80px;
     color:#fff;
     font-size: 40px;
     
 }
 .container p{
    margin-top:20px;
    color:#fff;
   word-spacing: 2px;
    font-size: 20px;
 }
 .container h2{
    margin-top:30px;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight:bold; 
    color:#fff;
}
/* sign in page css  */
.form{
  width:440px;
  min-height: 450px; 
  float:right;
  margin-top:90px;
  margin-right:90px;
  background-color:rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.sign_in{
    text-align: center;
}
.sign_in h3{
font-size:20px;
margin-top:20px;
color:rgb(10, 10, 10);
letter-spacing: 2px;
}
.sign_in .inputArea input{
color:rgb(0, 0, 0);
 margin-top:30px;
 width:300px;
 height:30px;
 background: transparent;
 outline:none;
 border:none;
 border-bottom: 2px solid rgb(28, 27, 29);
 /* letter-spacing: 2px; */
}
.sign_in .inputArea input::placeholder{
    color:rgb(10, 10, 10);
    letter-spacing: 2px;
}
.sign_in .submit_btn{
    margin-top:30px;
}
.sign_in .button_input{
    width:300px;
    height:30px;
    color:#fff;
    background-color: #3d0280;
    border:none;
    font-size:20px;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.form p
{
    color:red;
}
.sign_in .tosignin{
    margin-top:40px;
    letter-spacing: 2px;
    color:rgb(10, 25, 163);
    float:right;  
}
.sign_in a .tosignup{
    width:250px;
    height:30px;
    margin-left:20px;
    margin-top:60px;
    letter-spacing: 2px;
    float:left;
    border:none;
    color:#fff;
    cursor: pointer;
    background: rgb(107, 16, 212);
    border-radius: 4px;
}
.bo{
    background: rgba(199, 198, 198, 0.87);
}
/* sign up page css */
.sign_up_page{
    margin: auto auto;
    text-align: center;
    background-color: #99989b;
    width:500px;
    height: 500px;
    border-radius: 10px;
    padding: 1px;
    margin-top: 20px;
    border-top:4px solid rgb(107, 16, 212);    
    box-shadow: 4px 4px 24px rgb(143, 141, 141);
}

.sign_up_page .h3{
font-size:20px;
margin-top: 20px;
color:black;
letter-spacing: 2px;
}

.sign_up_page .inputArea input{
    margin-top:25px;
    width:300px;
    height:30px;
    /* border-radius: 4px; */
    border:none;
    border-bottom:2px solid  #1c1c1d;
    outline:none;
    background: transparent;


}
.sign_up_page .inputArea input::placeholder{
    color:#eaeddb;
    
}
.sign_up_page .submit_btn input{
    margin-top:40px;
    width:300px;
    height:30px;
    border-radius: 4px;
    border:none;
    color:#fff;
    background-color: #3d0280;
    outline-color: rgb(29, 28, 32);
    font-size:20px;
    text-transform: uppercase;
    cursor: pointer;
}
.sign_up_page .back_btn input{
    float: left;
    width:100px;
    height:30px;
    margin-top:30px;
    background: rgb(107, 16, 212);
    border:none;
    color:#fff;
    text-transform: uppercase;
    border-radius: 4px;
}
.sign-up p {
    color:red;
}
/* information section */
.information{
    margin-top:30px;
    margin-left:10%;
    margin-right:10%;
    overflow:hidden;
    position: relative;
    overflow: hidden;
    border-bottom:2px solid silver;
    text-align: center;
} 
.info_head{
    position: relative;
    margin:30px auto;
    text-align: center;
    overflow:auto;
}
.info_head h1{
    color:blue; 
}

.box1{
    background:linear-gradient(rgba(70, 69, 69, 0.4),rgba(204, 203, 203, 0.2)),url("images/googlepixel.jpg.png");
    width:100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    border-radius: 5px;
    border-top:8px solid rgb(19, 18, 18);
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);
}

.card_data{
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    height:500px;
}
.card_data h2{
    font-size:40px;
    padding:10px 10px;
    margin-top:140px;
    color:rgba(255, 255, 255, 0.89);
    text-shadow: 0 1px 0 black;
}
.card_data h3{
    font-size:30px;
    margin-top:20px;
    padding:5px 5px;
    color:#2D3142;
    text-shadow: 0 1px 0 black;
}
.card_data p{
    margin-top:20px;
    font-size:24px;
    padding:5px 5px;
    color:#fff;
    text-shadow: 0 1px 0 rgb(235, 231, 231);
}

.box2{
    margin-top:20px;
    margin-bottom:20px;
    background:linear-gradient(rgba(70, 69, 69, 0.8),rgba(204, 203, 203, 0.8)),url("images/iphonexplus.jpg");
    width:100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    border-radius: 5px;
    border-top:8px solid rgb(19, 18, 18);
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);
}
.box2 h3{
    margin-top:120px;
    color:#B0FBFf;

}

.box3{
    background:linear-gradient(rgba(70, 69, 69, 0.9),rgba(204, 203, 203, 0.5)),url("images/sam.jpg");
    width:100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);
}
.box3 h3{ 
    margin-top:110px;
    color:rgb(176, 237, 255);
    text-shadow: 0 1px 0 black;
   
}
.box3 ul{
    margin-top:30px;
    list-style: none;
}
.box3 ul li{
    color:#2D3142;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    font-size:24px;
    line-height: 1.5;

} 

.what_user_says{
  margin-top:30px;
  margin-left:10%;
  margin-right:10%;
}

.what_user_says input{
    width:100%;
    padding:10px 10px;
    font-size:22px;
    letter-spacing: 2px;
    background-color: transparent;
    border:2px solid blue;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.what_user_says input:hover{
    background-color: blue;
    color:#fff;
}
 /* about section */
.about{
    position: relative;
    width:100%;
    min-height: 300px;
    margin: 0;
    margin-top:100px;
    overflow: auto;
    background: #c2bdbc;
    text-align: center;
}
.about h3{
    margin-top:30px;
    font-style: Arial, Helvetica,sans-serif; 
    letter-spacing: 2px;
    font-size: 20px;
    padding:20px 20px;
    text-transform: uppercase;
}
.about p{
    margin-top:20px;
    padding:20px 20px;
    font-style: Arial, Helvetica,sans-serif; 
    font-size: 20px;
    color:rgb(36, 36, 36);

}

.footer{
    min-height: 100px;
    margin: 0;
    overflow: auto;
}
.footer h4{
    font-size:20px;
    display: inline;
}
.footer img{
    border-radius: 4px;
    padding: 2px 2px 2px 2px ;
    margin-top: 25px;
    margin-left:30px; 
    margin-right:30px; 
    width:50px;
    height:50px;
}

.container-compare{
    margin: 0 ;
    padding: 0;
}
.container-compare{
    /* box-sizing: border-box; */
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100%;
}
 .searchbar{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:20%;
  margin-right:15%;
  display: block;
  text-align: center;
}

 .searchbar input[type="text"]{
    width: 80%;
    height:35px;
    letter-spacing: 1px;
    padding:0px 15px;
    font-size: 18px;
    border: 2px solid silver;
    border-radius: 1.5em;
    outline:none;
}
.searchbar i{
    position: absolute;
    top:93px;
    left:77%;
    color:silver;
    font-size: 20px;   
}
.searchbar input[type="text"]:focus{
    border: 2px solid #3d0280;
    
}
.searchbar input[type="text"]:focus ~ i{
    
    color:#3d0280
}
.searchbar #add{
    position: relative;
    margin:10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    width:70%;
    height:35px;
    background: transparent;
    border:2px solid #3d0280;
    color:rgb(10, 10, 10);
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 1.5em;
    outline: none;
    cursor: pointer;
    transition:.6s ease-in-out; 
}
.searchbar #add:hover{
    color:#fff;
    background: #3d0280;
}
 .s_btn{
    margin: 0;
    padding: 0;
    width:80px;
    background: #3d0280;
    color:#fff;
    letter-spacing: 2px;
    border: none;
}
.all_data{
    position: relative;
    margin-left:10px;
    margin-right:10px;
    margin-top:40px;
    margin-bottom:20px; 
    padding: 10px 10px; 
    box-sizing: border-box; 
    /* border: 1px solid silver; */
}

.data{
    position: relative;
    margin-top:20px; 
    margin-left:4%;
    margin-bottom:20px; 
    width:260px;
    height:300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
}

.all_data .data:nth-child(1){
    background-image: url(images/m1.jpg);

}
.all_data .data:nth-child(n):hover{
    transition: .3s ease-in-out;
    box-shadow: -1px 11px 17px -4px rgba(111,128,113,1);


}
/* .all_data .data:nth-child(2){
    background-image: url(images/m2.jpg);   

} */
/* .all_data .data:nth-child(2):hover{
    transition: .3s ease-in-out;
    box-shadow:2px 3px 20px rgb(24, 23, 23);
    
}
.all_data .data:nth-child(3){
    background-image: url(images/m3.jpg);  
    box-shadow:2px 4px 5px rgb(105, 105, 105),-2px 0px 5px rgb(105, 105, 105);
}
.all_data .data:nth-child(3):hover{
    transition: .3s ease-in-out;
    box-shadow:2px 3px 20px rgb(24, 23, 23);
    
}
.all_data .data:nth-child(4){
    background-image: url(images/m4.jpg); 
    box-shadow:2px 4px 5px rgb(105, 105, 105),-2px 0px 5px rgb(105, 105, 105);
}

.all_data .data:nth-child(4):hover{
    transition: .3s ease-in-out;
    box-shadow:2px 3px 20px rgb(24, 23, 23);
} */
.btn{
    text-align: center;
}
.btn .label{
    width:100%;
    /* padding:0px 40px; */
    /* background: #3d0280; */
    color:rgb(61, 116, 187);
    font-size:30px;
    border-radius: 4px;
}

.btn input[type="button"]{
    margin-top:200px; 
    position: relative;
    color:#fff;
    background-color: #3d0280;
    width:100%;
    height:50px;
    border-style: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.data #show_comment{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width:60%;
    height:40px;
    background-color: #fff;
    border-radius: 10px;
    color:#3d0280;
    font-family: sans-serif;
    font-size: 18px;
    outline:none;
    border:none;
    cursor: pointer;
}
.data #show_comment:hover{
    background-color: rgba(10, 25, 163,0.8);
    color:#fff;
}
.all_data .next_btn{
    margin: 0 auto;
    left: 0;

}
.next_btn #next{
    background:url(images/next.png) 50% 50%; 
    align-items: center;    
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    border-radius: 50px;
    border:none;
    outline:none;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow:2px 4px 5px rgb(105, 105, 105),-2px 0px 5px rgb(105, 105, 105);
}
.next_btn #next:focus{

    box-shadow:4px 4px 20px rgb(105, 105, 105),-4px 0px 20px rgb(105, 105, 105);
}
.modal{
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height:100%;
    position:fixed;
    background-size: cover;
    z-index: 20;
    opacity: 0;
    transition: all .5s ease;
   
}

@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes popin{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.modal .modal_content{
    width:60%;
    height:55%;
    position:absolute;
    background-color: #fff;
    top:50%;
    left:50%;
    z-index: 22;
    transform: translate(-50%,-50%);
    transition: all .5s ease; 
    border-radius: 4px;
}
.modal_content #cut{
    float:right;
    outline: none;
    border:none;
    width: 40px;
    height:20px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    background-color: #3d0280;;
    color:#fff;
    clear: both;
}
.modal_content h1{
    text-align: center;
    letter-spacing: 2px;
    color:rgb(36, 13, 99);
    border-bottom:2px solid #3d0280;
}
.modal_content .rate{

    text-align: center;
}
.modal_content .rate input[type="text"]{
    width:200px;
    height:30px;
    margin:15px 20px; 
    border: 1px solid silver;
    border-radius: 4px;
    font-size: 16px;
    outline: none;

}

.modal_content .rate textarea[type="text"]{
    width:70%;
    height:100px;
    border: 1px solid silver;
    margin:10px 40px;
    border-radius: 4px;
    resize: none;
    font-size: 20px;
    outline: none;
}

.modal_content .rate input[type="submit"]{
    background-color: #3d0280;
    color:#fff;
    width:50%;
    height:40px;
    border:none;
    border-radius: 4px;
    letter-spacing: 2px;
    font-size: 20px;
}

