*{
    margin:0;
    padding: 0;
}

.aside{
  margin:0;
  padding:0;
  position: relative;
  width:20%;
  height:100%;
  background-color:#3d0280;
  float: left;

}
.aside ul{
    margin:0;
    padding:0;
    white-space: normal;
}
.aside ul li{
    /* display: block; */
    margin:0;
    list-style:none;
    border-bottom:2px solid rgba(255,255,255,0.4);  
    padding:20px 60px;
    
}
.aside ul li:hover{
    cursor: pointer;
}
.aside ul li input{
    background:transparent;
    border:none;
    color:#fff;
    font-size:22px;
    outline: none;
   
}
.aside ul li input:hover{
    color:rgba(255,255,255,0.3);
    cursor: pointer;

}

#form{
    display: inline;
}
#show_device{
    margin-left: 10px;
    height:40px;
    padding:10px 10px;
    background: transparent;
    font-size:16px;
    color:black;
    border:none;
    cursor:pointer;
    border:2px solid #3d0280;
    border-radius:6px;
}
#show_device:hover{
    border-radius:6px;
    background-color:#3d0280;
    color:#fff;
}

@media screen and (max-width: 1100px) {
    .aside{
        width:300px;
    }
    #comments_print{
        width:100%;
        display: block;
    }
  
}

