*{
    margin:0;
    padding: 0;
}
.header{
    background-color:#fff;
    box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.45);
    position:fixed;
    top:0;
}
#search_icon_on_header i{
    margin-top:17px;
}
.main_content{
    padding-top:60px;
}


#list .current a{
    color:#000;
}

#comment_block{
    
    border-bottom:2px solid silver;
}
#username_comm{
    display:inline;
    font-size:26px;
    padding:0px 20px;
}
#comm_date{
    display:inline;
    font-size:20px; 
}

#comments_print{
    display:flex;
}
#like{
    margin-top:5px;
    margin-left:15px;
    font-size:28px;
}
#cancel{
    width:30px;
    height:30px;
    border:none;
    background:#3d0280;
    color: #fff;
    border-radius: 4px;
}
.all_comments_block{
    margin:20px 20px;
}
#comment_block{
    width:100%;
}
#comment_block p{
    width:100%;
    font-style: Arial, Helvetica,sans-serif; 
    font-size: 24px;
    color:rgb(36, 36, 36);
    word-break: break-all;
}

#comment_block i{
    margin:10px 5px;
    color:red;
    font-size:24px;
}
#show_device
{
    margin-top:10px;
    height:30px;
    font-size:28px;
}
#comment_block #thumbs{
    color:black;
}
.about{
    margin-top:20%;
    background-color:rgba(182, 181, 181, 0.3);
}
.searchbar{
    position: absolute;
    top:70px;
    left:26%;
}
.searchbar i{
    position: absolute;
    top:13px;
    left:88%;
}
.settings div{
text-align: center;
}

.aside{
  margin:0;
  padding:0;
  z-index: 1;
  padding-top:70px;
}
.aside h4{
    text-align:center; 
    padding-top:70px;
    margin:20px 0px; 
    font-size:20px;
    word-spacing:5px;
}
.aside ul{
    margin:0;
    padding:0;
    white-space: normal;
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
.aside ul li{
    margin:0;
    list-style:none;
    padding:10px 20px;
    list-style: none;
    border:1px solid silver;
}
.aside ul li:hover{
    cursor: pointer;
    /* background-color: rgb(137, 136, 153); */
    background:gray;
    color:#fff;
}
.aside ul li input{
    background:transparent;
    border:none;
    color:rgb(0, 0, 0);
    font-size:20px;
    outline: none;
}
.aside ul li:hover input{
    cursor: pointer;
    color:#fff;
}
#form{
    display: inline;
}
#show_device{
    margin-left: 10px;
    height:40px;
    padding:10px 10px;
    background: transparent;
    font-size:16px;
    color:black;
    border:none;
    cursor:pointer;
    border:2px solid #3d0280;
    border-radius:6px;
}
#show_device:hover{
    border-radius:6px;
    background-color:#3d0280;
    color:#fff;
}

.image{
  padding-top:100px;
  margin-left:30px;
}
.image img{
    width:500px;
    height:600px;
    border-radius:10px;
}
.flexed_data{
    padding-top:100px;
}
@media screen and (max-width: 1036px) {
    .aside{
        width:100%;
        padding-top:100px; 
    }
    .aside #p{
        padding-top:60px;
    }
    .aside ul{
        display: block;
        width: 100%;
        text-align: center;
    }
    .head{
        top:0;
        left:0;
        margin:0;
        position: relative;
    } 
    .searchbar{
        display: block;
        position: absolute;
        top:0;
    }
    .searchbar input{
        width:100%;
        text-overflow: ellipsis;
    }
    .searchbar i{
        position: absolute;
        top:15px;
        left:85%;
    }
    #comments_print{
        display:block;
    }
    
    .image{
        padding-top:100px;
        margin:5px 5px;
    }
    .image img{
        width:100%;
        height:400px;
    }
    .flexed_data{
        padding-top:20px;
    }
    #comment_block{
        overflow:hidden;
    }
    #comment_block p{
        width:100%;
        font-style: Arial, Helvetica,sans-serif; 
        font-size: 24px;
        color:rgb(36, 36, 36);
        word-break: break-all;
    
    }

}

